@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https: //fonts.googleapis.com/css?family=Cinzel:regular,500,600,700,800,900');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

@layer components {
    .courseplug-container {
         @apply container sm:container md:container lg:container xl:container !mx-auto py-4 overflow-x-hidden ;
        }
    .cp-heading{
        @apply !text-4xl lg:!text-6xl !tracking-normal !leading-loose 
    }
    .cp-text{
        @apply !text-white !leading-relaxed !text-sm md:!text-base lg:!text-xl !tracking-wide
    }
    .cp-btn{
        @apply bg-gradient-to-r uppercase from-primary-300 via-primary-300 to-primary-300 hover:from-primary-200 hover:via-primary-300 hover:to-primary-300 rounded-md shadow-md text-black hover:text-black leading-loose font-medium text-base py-2 px-3 inline-block 
    }
}

