@mixin text-linear() {
    background: -webkit-linear-gradient(#ffe5a1, #bf841a, #ffcd74);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cinzel {
    font-family: Cinzel, Montserrat;
    @include text-linear();
}
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #ffcd74;
}
